.add__container {
    width: 100%;
    margin: auto;
    position: fixed;
    bottom: 0;
    background-color: lightgreen;
    height: 100px;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}
.close {
    position: absolute;
    right: 2rem;
    top: 2rem;
}
span {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    letter-spacing: 1px;
}