.sidebar {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    background-color: #d4e9e2;
}
.sidebar__item {
    display: flex;
    width: 100%;
    padding-top: ;
    align-items: center;
    margin-top: 15px;
    flex-direction: column;
}
.sidebar__item:hover { 
    background-color: white;
}
