.sidebar {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    background-color: #d4e9e2;
}
.sidebar__item {
    display: flex;
    border-bottom: 1px solid black;
    width: 100%;
    mar
    flex-direction: column;
}
.sidebar__icon {
    margin-top: 18px;
} 