.sidebar {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    background-color: #d4e9e2;
}
.sidebar__item {
    display: flex;
    flex-direction: column;
}
.sidebar__item > span {
    margin-top: 18px;
}
sidebar__icon 