.popular__ones {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container__box {
    display: flex;
    margin-top: 12px;
}
.bx {
    margin-left: 22px;
    padding: 8px 12px;
    background-color: green;
    border-radius: 5px;
}
@media (max-width: 736px){
    .inputBx {
        width: 80%;
    }
}