.popular__ones {
    margin-top: 25px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}
.quran__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quran__container
.container__box {
    display: flex !important;
    margin-top: 12px !important;
}
.bx {
    margin-left: 22px;
    padding: 8px 12px;
    background-color: #d4e9e2;
    border-radius: 5px;
}
@media (max-width: 450px){
    .container__box {
        display: flex;
        width: 80%;
        flex-wrap: wrap;
    }
    .bx {
        margin-top: 12px;
    }
}
.quran__chapters {
    width: 90%;
    align-items: center;
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    flex-wrap: wrap;

}
